h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

p {
  font-size: 18px;
  color: red;
  text-align: center;
}
